<div id="board_side">
    <div class="board_side_botton" id="board_side_play"><p>Play</p> </div>
    <div class="board_side_botton" id="board_side_editboard"><p>Edit board</p></div>
    <div class="board_side_botton" id="board_side_playunrated"><p>Play Unrated</p></div>
</div>