<div id="board_side">
        <div class="edit_side_botton"><p>clear board</p> </div>
        <div class="edit_side_botton"><p>flip board</p></div>
        <div class="edit_side_botton"><p>standard</p></div>
        <div class="edit_side_botton"><p>generate PGN</p> </div>
        <div class="edit_side_botton"><p>white to move</p></div>
        <div class="edit_side_botton"><p>play white</p></div>
        <div class="edit_side_botton"><p>send to lobby</p> </div>
        <div class="edit_side_botton"><p>play friend</p></div>
    </div>