<div id="edit_top">
        <div class="edit_tb_btn"> <img src="staticassets/board/images/sprites/blackpawn.png" alt=""></div>
        <div class="edit_tb_btn"><img src="staticassets/board/images/sprites/blackking.png" alt=""></div>
        <div class="edit_tb_btn"><img src="staticassets/board/images/sprites/blackqueen.png" alt=""></div>
        <div class="edit_tb_btn"><img src="staticassets/board/images/sprites/blackrook.png" alt=""></div>
        <div class="edit_tb_btn"><img src="staticassets/board/images/sprites/blackbishop.png" alt=""></div>
        <div class="edit_tb_btn"><img src="staticassets/board/images/sprites/blackknight.png" alt=""></div>
        <div class="edit_increment"> <input type="text" placeholder="increment ex:3"></div>
        <div class="edit_time"><input type="text" placeholder="time ex:3:21"></div>
</div>

