<div id="game_type">
    <div class="game_type_btn" id="Fischer_random"><p>Fisher_random</p> </div>
    <div class="game_type_btn" id="Standard"><p>Standard</p></div>
    <div class="game_type_btn" id="Lobby"><p>Lobby</p></div>
</div>