<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/staticassets/layout/ejs.js"></script>
    <script src="/staticassets/js/socketio.js"></script>
    <link rel="stylesheet" href="/staticassets/layout/frontlayout.css">
    <title>Layout</title>
</head>
<body>
    <div id="container">
        

        <% include logged_out_header.ejs %>
        

        <% include main.ejs %>
        


    </div>
    
    <script src="/staticassets/js/livegames.js"></script>
    
</body>
</html>