<div id="middle_side">
        <div id="PGN">
                <form action=""> 
                        <textarea name="" id="PGN_Area" cols="" rows=""></textarea>
                        <button  type="button" value="Submit PGN" id="PGNbtn">PGN</button>
                    </form>
        </div>
        <div id="replay">
            <div id="replaybox">
                <div class="replay_btn" id="stop"> <p> << </p> </div>
                <div class="replay_btn" id="back"> <p> < </p></div>
                <div class="replay_btn" id="forward"> <p> > </p> </div>
                <div class="replay_btn" id="end"> <p> >> </p> </div>
            </div>
            <div id="replay_area"></div>
        </div>
       <div id="livegamesbox"></div>
</div>