<div id="main0">
    <div id="main">

        <% include sidebar.ejs %>
        
        <%include not_profile_middle.ejs %>
    
        <% include profile_chat.ejs %>
    
    </div>
</div>