<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="staticassets/layout/ejs.js"></script>
    <script src="/staticassets/js/socketio.js"></script>
    <link rel="stylesheet" href="staticassets/layout/frontlayout.css">
    <link rel="next" href="staticassets/layout/middle-middle.ejs">
    <title>Layout</title>
</head>
<body>
    <div>
        <% include logged_out_Calendar.ejs %>
    </div>
    <div>
        <% include messenger.ejs %>
    </div>
    <div id="container">
        

        <% include header.ejs %>
        

        <% include not_profile_main.ejs %>
        
        


    </div>
    
    <script src="staticassets/js/otherprofile.js"></script>
    <script src="staticassets/js/messenger.js"></script>
    <script src="staticassets/js/profile_chat.js"></script>
    
</body>
</html>