<div id="play_timecontrol">
    <div class="play_timecontrol_btn"><p>1+2</p></div>
    <div class="play_timecontrol_btn"><p>1+0 bullet</p> </div>
    <div class="play_timecontrol_btn"><p>3+2 blitz</p></div>
    <div class="play_timecontrol_btn"><p>3+0</p></div>
    <div class="play_timecontrol_btn"><p>5+2</p></div>
    <div class="play_timecontrol_btn"><p>10+2</p></div>
    <div class="play_timecontrol_btn"><p>15+5</p></div>
    <div class="play_timecontrol_btn"><p>25+5 rapid</p></div>
    <div class="play_timecontrol_btn"><p>60+5 classical</p></div>
    <div class="play_timecontrol_btn" id="Custom"><p>Custom</p></div>
</div>

