


<div id="player_navbar0">
    <div id="player_navbar">
        <img id="player_nav_img" src='staticassets/images/profile_pics/default.JPEG'></img> 
        <div id="player_nav_name"> 
            username
            <div id="player_nav_rating">classic:2830</div>
        </div>
        
        <div id="player_nav_time">3:32</div>

    </div>

</div>