<div id="middle">
        <% include profilepage.ejs %>
        <% include middle-top.ejs %>
        <% include middle-middle.ejs %>
        <% include middle-buttom.ejs %>
        <% include middle-far-buttom.ejs %>
        <% include about.ejs %>
    
    </div>