<div class="chat" id="general_chat">
    <div id="chat1">
        <p>community chat</p> 
        <div id="chatbox"></div>
        <div id="chat_form">
            
                <textarea name="" id="chat_send_area" cols="" rows=""></textarea>
                <input id="chat_send" type="submit" value="Send Message" onclick="chat()">
            
        </div>
    </div>
</div>