<div id="sidebar">
    <div id="sidebar1">
        <div id="Coaching" class="btn_sidebar"> Coaching</div>
        <div id="Tournaments" class="btn_sidebar">Tournaments</div>
        <div id="livegames" class="btn_sidebar"><a href="/livegames"> livegames</a></div>
        <div id="Followed">
          
            <p>ed</p> 
            <p>ed</p> 
            <p>ed</p> 
            <p>ed</p> 
            <p>ed</p> 
            <p>ed</p> 
            <p>ed</p> 
            <p>ed</p> 
            <p>ed</p> 
            <p>ed</p> 
            <p>ed</p> 
            <p>ed</p> 
            <p>ed</p> 
            <p>ed</p> 
            <p>ed</p> 
            <p>ed</p> 
            <p>ed</p> 
            <p>ed</p> 
            
        </div>
    </div>

</div>